<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="menu" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div [className]="topTitle[1]">
        <div>Corozal</div>
    </div>
    <div [className]="topTitle[0]">
        <div>Corozal Town</div>
    </div>

    <div class="notification" [hidden]="topTitle[2]">
        <ion-card>
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label color="light">
                    <h2>Next Truck</h2>
                    <p>Toxic Waste</p>
                </ion-label>
                <ion-note color="light" slot="end">9am - 10am</ion-note>
            </ion-item>
        </ion-card>
    </div>

</ion-header>

<ion-content scroll-events="true" force-overscroll="true" (ionScroll)="handleScroll($event)">
    <div class="topbar-container">
        <div class="topbar">
            <div class="topbar-chip"></div>
        </div>
    </div>

    <div [className]="topbar">
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                    <h2>Next Truck</h2>
                    <p>Toxic Waste</p>
                </ion-label>
                <ion-note slot="end">9am - 10am</ion-note>
            </ion-item>
    </div>

    <ion-list>
        <ion-list-header>
            <ion-label><h3>Forum</h3></ion-label>
        </ion-list-header>
        <ion-item lines="none" class="forum-card">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>
                <h3>The title of the form article</h3>
                <p>this is ksadkjasdkjkasdksadlsakdksladksadjsadsdsadsadsad</p>
            </ion-label>
            <ion-note slot="end" mode="md">2 days</ion-note>
        </ion-item>

    </ion-list>


    <!--    <ion-card class="forum-card">-->

    <!--            <ion-card-header>-->
    <!--                <img src="assets/shapes.svg">-->
    <!--                <ion-card-title>Title of card</ion-card-title>-->
    <!--            </ion-card-header>-->
    <!--            <ion-card-content class="forum-card-subtitle">-->

    <!--                <ion-button size="small" mode="ios">-->
    <!--                    <ion-icon name="thumbs-up"></ion-icon>-->
    <!--                    <ion-label>95 like</ion-label>-->
    <!--                </ion-button>-->

    <!--                <ion-button size="small" mode="ios">-->
    <!--                    <ion-icon name="chatbubbles"></ion-icon>-->
    <!--                    <ion-label>45 comments</ion-label>-->
    <!--                </ion-button>-->

    <!--                <ion-button size="small" mode="ios" disabled="true">-->
    <!--                    <ion-label>2 days ago</ion-label>-->
    <!--                </ion-button>-->

    <!--            </ion-card-content>-->
    <!--        </ion-card>-->

</ion-content>
