ion-toolbar {
  --background: transparent !important;
  --border-width: 0;
}

:host {
  background-color: #07B074;
}

ion-content {
  --background: #ffff;
  transform: translateY(250px);
  transition: 0.5s;
  --padding-top: 30px;
  --padding-bottom: 40px;
}

.top-subtitle {
  position: absolute;
  top: 95px;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 0 16px;
  font-size: 34px;
  //font-weight: 600;
  color: white;
  transition: 0.5s all;
}

.topSubHidden{
  visibility: hidden;
}

.top-title {
  position: absolute;
  top: 140px;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 0 16px;
  font-size: 34px;
  //font-weight: 600;
  color: white;
  transition: 0.5s all;
}

.topSmall{
  top: 50px;
  font-size: 24px;
}

.topbar-container {
  background-color: #07B074;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
}

.topbar {
  width: 100%;
  height: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.topbar-chip{
  margin: auto;
  text-align: center;
  width: 100px;
  background-color: #d7d7d7;
  height: 5px;
  border-radius: 10px;
}

.top-notif {
  background-color: white;
  position: fixed;
  top: 30px;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 1000;
  transition: 0.5s height;
  display: flex;
  justify-content: center;

  ion-item{
    width: 80%;
  }
}

.notif-visible {
  height: 63px;
  overflow: auto;
  box-shadow: 0 20px 15px rgba(0,0,0,0.1);
}

.notification{
  position: fixed;
  width: 100%;
  height: auto;
  top: 180px;
  background: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;

  ion-card{
    width: 100%;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: transparent;
  }
  ion-item{
    --background: transparent;
  }
}

.forum-card {
  --padding-bottom: 30px;
}
